/* Dispositivos grandes (desktops) */
@media (min-width: 1024px) {
  .projeto-grid {
    grid-template-columns: repeat(3, 1fr); 
  }
}

/* Dispositivos médios (tablets) concluido*/ 
@media (max-width: 1023px) and (min-width: 768px) {
  header {
    padding: 25px 7%;
    position: fixed; 
  }

  .logo {
    font-size: 20px;
    margin-right: 8px;
  }
  .descricao h4 {
    font-size: 20px;
  }

  .menu a {
    font-size: 13px;
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
  }

  .descricao h1 {
    font-size: 34px; 
  }

  .descricao p {
    width: 100%; 
  }

  .projeto-grid {
    grid-template-columns: repeat(2, 1fr); 
  }

  .social i {
    width: 33px;
    height: 33px;
  }

  .perfil-img {
        display: none;

  }

  .habilidades h2 {
    font-size: 30px;
  }
  .skill-card {
  padding: 5px;
  width: 179px;
  }
  .skills-container {
  padding: 2rem;
  }

  .section-title {
  font-size: 30px;
  padding: 2rem;
  }
  .projeto-title {
  font-size: 20px;
  }

  .scroll-inicio {
  width: 35px;
    height: 35px;
  }
  .conteiner-texto h2 {
  font-size: 30px;
  }

  .copyright p {
  font-size: 14px;
  }
}

/* Dispositivos pequenos (celulares) */
@media (max-width: 767px) and (min-width: 605px) {
  header {
    padding: 20px 10%;
    position: fixed;
  }

  .logo {
    display: none;
  }

  .menu {
    gap: 0px;
  }


  .menu a {
    font-size: 15px;
  }

  .descricao h4 {
    font-size: 17px;
  }

  .descricao h1 {
    font-size: 36px;
  }

  .descricao p {
    font-size: 12px;
    line-height: 22px;     width: 100%; 
  }

  .projeto-grid {
    grid-template-columns: 1fr; 
    gap: 8px; 
  }

  .social i {
    width: 22px; 
    height: 22px;
  }

  .perfil-img {
    display: none; 
  }

  .habilidades h2 {
    font-size: 25px;
  }

  .skill-card h3 {
    font-size: 12px;
  }

  .skill-card {
    padding: 4px; 
    width: 130px; 
  }

  .skills-container {
    padding: 2rem; 
  }

  .section-title {
    font-size: 25px; 
    padding: 1rem; 
  }

  .meubotao, .meubotao2 {
    padding: 5px 10px;
    font-size: 12px;
  }


  .fa-solid, .fas{
    font-size: 25px;
  }

  .skill-card i {
    font-size: 25px;
  }

  .projeto-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
  }

  .projeto-title {
    font-size: 16px; 
  }

  .projeto-description {
    font-size: 12px;
  }

  .prev-button, .next-button {
    width: 38px;
    height: 38px;
  }

  .scroll-inicio {
    width: 28px; 
    height: 28px;
  }

  .slider {
    width: 415px;
  }

  .container-slider {
    min-height: 30vh;
  }

  .conteiner-texto h2 {
    font-size: 25px; 
  }

  .copyright p {
    font-size: 10px; 
  }

}
/* Dispositivos pequenos (celulares) */
@media (max-width: 604px) and (min-width: 200px) {
  header {
    padding: 20px 90%;
    position: fixed; 
  }

  .logo {
    display: none;
  }

  .menu {
    gap: 0px;
  }

  .menu a {
    font-size: 12px;
  }

  .descricao h4 {
    font-size: 20px;
  }

  .descricao h1 {
    font-size: 26px; 
  }

  .descricao p {
    font-size: 12px; 
    line-height: 1rem; 
    width: 100%; 
  }

  .projeto-grid {
    grid-template-columns: 1fr; 
    gap: 8px; 
  }

  .social i {
    width: 22px; 
    height: 22px;
  }

  .perfil-img {
    display: none; 
  }

  .habilidades h2 {
    font-size: 25px; 
  }

  .skill-card h3 {
    font-size: 12px;
  }

  .skill-card {
    padding: 4px; 
    width: 130px;
  }

  .skills-container {
    padding: 1rem; 
  }
  .section-title {
    font-size: 25px; 
    padding: 1rem; 
  }

  .meubotao, .meubotao2 {
    padding: 5px 10px;
    font-size: 12px;
  }
  .nav {
    width: 80%;
  }

  .fa-solid, .fas {
    font-size: 20px;
  }

  .skill-card i {
    font-size: 25px;
  }

  .projeto-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    gap: 10px;
  }

  .projeto-title {
    font-size: 16px; 
  }

  .projeto-description {
    font-size: 12px;
  }

  .prev-button, .next-button {
    width: 38px;
    height: 38px;
  }

  .scroll-inicio {
    width: 28px; 
    height: 28px;
  }

  .slider {
    width: 250px;
  }

  .container-slider {
    min-height: 30vh;
  }

  .conteiner-texto h2 {
    font-size: 25px;
  }

  .copyright p {
    font-size: 10px; 
  }

  .menu li {
    margin-left: 10px;
  }
}