@media (max-width: 1700px){
  header{
    padding: 20px 8%;
  }
  header.sticky{
    padding: 14px 8%;
  }
  section{
    padding: 90px 8% 80px;
  }
  .footer{
    padding: 18px 8%;
  }
  .logo{
    font-size: 28px;
  }
}

@media (max-width: 1380px){
  header{
    padding: 20px 5%;
  }
  header.sticky{
    padding: 14px 5%;
  }
  section{
    padding: 90px 5% 80px;
  }
  .footer{
    padding: 18px 5%;
  }
  .hero{
    height: 90vh;
    background-position: center;
  }
}

@media (max-width: 1290px){
  .box{
    padding: 40px 40px 46px;
  }
  .box img{
    width: 100%;
    height: 60px;
    max-width: 60px;
  }
  .box h3{
    font-size: 21px;
  }
}

@media (max-width: 1240px){
  .about{
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
  }
  .about-img img{
    text-align: center;
    width: 100%;
    height: 400px;
    max-width: 400px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
  }
  :root{
    --h1-font:4rem;
    --h2-font:2.2rem;
    --p-font: 15px;
  }
}

@media (max-width: 950px){
  :root{
    --h1-font: 3.5rem;
  }
  .social{
    margin-bottom: 20px;
  }
  #menu-icon{
    display: block;
  }
  .navlist{
    position: absolute;
    top: 100%;
    right: -100;
    width: 255px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    transition: all .50s ease;
  }
  .navlist a {
    display: block;
    padding: 17px;
    font-size: 22px;
  }
  .navlist.active{
    right: 0;
  }
}

@media (max-width: 680px){
  .main-content p{
    width: 100%;
  }
}

@media (max-width: 470px){
  :root{
    --h1-font: 3rem;
    --h2-font: 2rem;
  }
  .about-img img{
    text-align: center;
    width: 100%;
    height: 300px;
    max-width: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
  }
}
