/* Reset CSS */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'inter', sans-serif;
  scroll-behavior: smooth;
}

/* Variáveis*/
:root {
  --cor-texto: #ffffff;
  --cor-fundo: #0D1117;
  --segunda-cor-fundo: #0D1117; 
  --cor-principal: #ffdb58;
  --outra-cor: #ffdb58;
}

/*estilo do texto e fundo geral*/
body {
  color: var(--cor-texto);
  background-color: var(--cor-fundo);
}

/* estilo da barra de navegação*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 12%;
  background: transparent;
  transition: all 0.50s ease;
}

/*Estilo do logo tipo */
.logo {
  font-size: 26px;
  color: var(--cor-texto);
  font-weight: 600;
}

/*Cor do logo web*/
span {
  color: var(--cor-principal);
}

/*Barra de pesquisa do meio*/
.lista {
  display: flex;
}


/*Barra de pesquisa do meio com links*/
.lista a {
  font-size: 1rem;
  color: var(--cor-texto);
  font-weight: 500;
  margin-left: 40px;
  transition: all 0.50s ease;
}

/*Animação da barra de pesquisa do meio com links*/
.lista a:hover {
  color: var(--cor-principal);
}

/* Sessão do meio */
section {
  padding: 180px 12% 90px;
}

/*botao menu */
#menu-icon {
  font-size: 30px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

/*botao contato */
.contato {
  display: inline-block;
  padding: 7px 16px;
  background: var(--cor-principal);
  color: var(--cor-fundo);
  border: 2px solid var(--cor-principal);
  border-radius: 7px;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.50s ease;
  margin-left: 12px;
}

/* animação do botao contato */
.contato:hover {
  background: var(--cor-principal);
  color: var(--cor-fundo);
  box-shadow: 0 0 10px var(--cor-principal);
  transform: scale(1.1);
}


/* Apresentação do titulo do meio*/
.principal {
  height: 100vh;
  width: 100%;
  background: url(img/fundoperfil1.png);
  background-position: top right;
  background-size: cover;
  display: flex;
  align-items: center;  
  justify-content: flex-start;

}

/* Apresentação titulo e paragrafo*/
.descricao h4 {
  font-size: 1.5rem;
  color: var(--cor-texto);
}
.descricao h1 {
  font-size: 4.5rem;
  color: var(--cor-texto);
  font-weight: 900;
  margin: 20px 0px 20px;
  line-height: 1.2;
}
.descricao p {
  font-size: 1rem;
  font-weight: 400;
  width: 620px; 
  max-width: 100%;
  color: var(--cor-texto);
  line-height: 30px;
  margin-bottom: 15px;
}


/* estilização dos 2 botões*/

.meubotao {
  display: inline-block;
  padding: 11px 26px;
  background: var(--cor-principal);
  color: var(--cor-fundo);
  border-radius: 7px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.50s ease;
}

.meubotao2 {
  display: inline-block;
  padding: 11px 26px;
  background: var(--cor-principal);
  color: var(--cor-fundo);
  border-radius: 7px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.50s ease;
  margin-left: 5px;
}

/* animação dos 2 botões*/
.meubotao:hover {
  background: var(--cor-principal);
  color: var(--cor-fundo);
  box-shadow: 0 0 10px var(--cor-principal);
  transform: scale(1.1);
  
}
.meubotao2:hover {
  background: var(--cor-principal);
  color: var(--cor-fundo);
  box-shadow: 0 0 10px var(--cor-principal);
  transform: scale(1.1);
}

/* estilização das Redes sociais*/
.social {
  margin-bottom: 40px;
}
.social i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--cor-principal);
  border-radius: 50%;
  backdrop-filter: brightness(88%);
  font-size: 20px;
  margin-right: 17px;
  box-shadow: 0 0 20px transparent;
  cursor: pointer;
  transition: all 0.50s ease;
}

/* Animação das Redes sociais*/
.social i:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px var(--cor-principal);
}



