/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'inter', Arial, sans-serif;
  scroll-behavior: smooth;
}

/* Variáveis */
:root {
  --cor-fundo: #020617;
  --cor-texto: #ffffff;
  --cor-principal: #ffdb58;
  --segunda-cor-fundo: #0D1117;
  --outra-cor: #13131F;
}

/* Estilo do texto e fundo geral */
body {
  color: var(--cor-texto);
  background-color: var(--cor-fundo);
}

/* Estilo da barra de navegação */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 12%;
  transition: all 0.50s ease;
}

/* Estilo da imagem de perfil */
.perfil-img {
  display: flex;
  align-items: center;
  height: auto;
  max-height: 100%;
  border-radius: 3%;
  margin: auto;
}

/* Estilo do cabeçalho com logo */
header.logo {
  background: var(--cor-fundo);
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .2);
  padding: 16px 16%;
}

/* Estilo do logo tipo */
.logo {
  font-size: 22px;
  color: var(--cor-texto);
  font-weight: bold;
}

/* Cor do logo web */
span {
  color: var(--cor-principal);
}

/* Barra de pesquisa do meio */
.menu {
  display: flex;
}

/* Barra de pesquisa do meio com links */
.menu a {
  font-size: 1rem;
  color: var(--cor-texto);
  font-weight: 500;
  margin-left: 40px;
  transition: all 0.50s ease;
}

/* Animação da barra de pesquisa do meio com links */
.menu a:hover {
  color: var(--cor-principal);
}

/* Sessão do meio */
section {
  padding: 180px 12% 90px;
}

/* Botão contato */
.contato {
  display: inline-block;
  padding: 5px 10px;
  background: var(--cor-principal);
  color: var(--cor-fundo);
  border: 3px solid var(--cor-principal);
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.50s ease;
  margin-left: 25px;
}

/* Animação do botão contato */
.contato:hover {
  background: var(--cor-principal);
  color: var(--cor-fundo);
  box-shadow: 0 0 10px var(--cor-principal);
  transform: scale(1.1);
}

/* Apresentação do título do meio */
.sobre {
  height: 100vh;
  width: 100%;
  background-position: top right;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Apresentação título e parágrafo */
.descricao h4 {
  font-size: 1.5rem;
  color: var(--cor-texto);
}

.descricao h1 {
  font-size: 4.5rem;
  color: var(--cor-texto);
  font-weight: 900;
  margin: 20px 0px 20px;
  line-height: 1.2;
}

.descricao p {
  font-size: 1rem;
  font-weight: 400;
  width: 620px;
  max-width: 100%;
  color: var(--cor-texto);
  line-height: 30px;
  margin-bottom: 15px;
}

/* Estilização dos 2 botões */
.meubotao,
.meubotao2 {
  display: inline-block;
  padding: 10px 20px;
  background: var(--cor-principal);
  color: var(--cor-fundo);
  border-radius: 7px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.50s ease;
}

.meubotao2 {
  margin-left: 5px;
}

/* Animação dos 2 botões */
.meubotao:hover, .meubotao2:hover {
  background: var(--cor-principal);
  color: var(--cor-fundo);
  box-shadow: 0 0 10px var(--cor-principal);
}

/* Estilização das redes sociais */
.social {
  margin-bottom: 40px;
}

.social i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--cor-principal);
  border-radius: 50%;
  backdrop-filter: brightness(88%);
  font-size: 20px;
  margin-right: 17px;
  box-shadow: 0 0 20px transparent;
  cursor: pointer;
  transition: all 0.50s ease;
}

/* Animação das redes sociais */
.social i:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px var(--cor-principal);
}

/* Seção de Habilidades/skill */
.habilidades h2 {
  font-size: 30px;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.4rem;
  padding: 4rem;
}

.skill-card {
  background: var(--outra-cor);
  padding: 10px;
  text-align: center;
  width: 175px;
  box-sizing: border-box; /* Certifique-se de que padding e borda estão incluídos na largura */
  transition: transform 0.3s ease, outline 0.3s ease;
}

.skill-card i {
  font-size: 30px;
  color: var(--cor-principal);
  margin-bottom: 10px;
}

.skill-card h3 {
  font-size: 15px;
}

.skill-card:hover {
  outline: 1px solid var(--cor-principal); /* Usar outline em vez de border */
  transform: scale(1.05); /* Leve transformação de escala */
}

/* Seção de Projetos */
.projeto {
  padding: 60px;
  background-color: var(--cor-fundo);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 100px;
}

.section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  color: var(--cor-principal);
}

.projeto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajuste a largura mínima dos cards */
  gap: 20px; /* Ajuste o espaçamento entre os cards */
}

.projeto-item {
  background-color: var(--outra-cor);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px; /* Ajuste o padding dos cards */
  max-width: 100%; /* Defina a largura máxima dos cards */
  margin: auto; /* Centralize os cards na tela */
}

.projeto-item:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.projeto-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px; /* Ajuste o margin-bottom para ajustar o espaçamento */
}

.projeto-title {
  font-size: 18px; /* Ajuste o tamanho da fonte do título */
  margin-bottom: 10px;
  color: var(--cor-principal);
  text-align: center;
}

.projeto-description {
  font-size: 14px; /* Ajuste o tamanho da fonte da descrição */
  color: var(--cor-texto);
  text-align: center;
}

.project-links {
  display: flex;
  justify-content: center;
}

.github-link, .live-link {
  margin: 0 5px; /* Ajuste a margem dos links */
  font-size: 18px; /* Aumente o tamanho da fonte dos links */
  color: var(--cor-principal);
  transition: color 0.3s;
}

.github-link i, .live-link i {
  font-size: 24px; /* Aumente o tamanho dos ícones */
  margin-right: 5px; /* Adicione margem à direita dos ícones */
}

.github-link:hover, .live-link:hover {
  color: var(--cor-texto);
}



/* Animação da aba certificados */
.certificados {
  padding: 80px 0;
  background-color: var(--cor-fundo);
}

.certificados .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.certificados .section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

.certificados-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Reduzi o valor mínimo da largura dos itens */
  gap: 40px;
}


.certificado {
  background-color: #13131F;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px; /* Reduzi o padding para tornar o card mais compacto */
  max-width: 240px; /* Defini uma largura máxima para os cards */
  margin: auto; /* Centraliza os cards na tela */
}


.certificado-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.certificado-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.certificado-description {
  font-size: 16px;
}

.certificados-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}

.certificados-wrapper {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding-bottom: 20px;
}

.scroll-btn:hover {
  color: #ffdb58; /* Cor dos ícones ao passar o mouse */
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Tamanho do círculo */
  height: 40px; /* Tamanho do círculo */
  border-radius: 50%; /* Transforma o elemento em um círculo */
  background-color: #fff; /* Cor de fundo do círculo */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Sombra para efeito de profundidade */
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}
.certificado {
  flex: 0 0 auto;
  margin-right: 20px;
  /* Outros estilos para os certificados */
}

.scroll-btn {
  /* Estilos comuns para ambos os botões */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 24px;
  color: #333; /* Cor dos ícones */
  cursor: pointer;
  z-index: 1;
  transition: color 0.3s; /* Adiciona uma transição suave de cor */
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.certificado {
    flex: 0 0 auto; /* Evita que os certificados se estiquem */
    scroll-snap-align: start; /* Define a posição inicial do scroll */
    margin-right: 20px; /* Espaçamento entre os certificados */
    /* Outros estilos para os certificados */
}

/* Estilizando a barra de rolagem */
.certificados-carousel::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

/* Estilizando o botão da barra de rolagem */
.certificados-carousel::-webkit-scrollbar-thumb {
  background-color: #ffdb58; /* Cor do botão da barra de rolagem */
  border-radius: 4px; /* Borda arredondada do botão */
}

/* Estilizando a área de rolagem da barra de rolagem */
.certificados-carousel::-webkit-scrollbar-track {
  background-color: #020617; /* Cor da área de rolagem */
}


/* Animação da aba de Emails */
.contato-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.2rem;
}

/* Tamanho do texto do título E-mail */
.conteiner-texto h2 {
  font-size: 30px;
}

.contato-form form {
  position: relative;
  width: 600px;
}

form input,
form textarea {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  box-shadow: 0 0 5px var(--segunda-cor-fundo);
  background: #13131F;
  color: var(--cor-texto);
  margin-bottom: 20px;
  border-radius: 8px;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cor-principal);
}

form input::placeholder,
form textarea::placeholder {
  color: var(--cor-principal);
  font-size: 15px;
}

form .enviarbotao {
  display: inline-block;
  padding: 11px 26px;
  background: var(--cor-principal);
  color: var(--cor-fundo);
  border: 2px solid var(--cor-texto);
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  transition: all .50s ease;
}

form .enviarbotao:hover {
  background: transparent;
  color: var(--cor-principal);
  box-shadow: 0 0 20px var(--cor-principal);
  cursor: pointer;
}

/* Estilização do Rodapé */
.footer {
  background: var(--cor-fundo);
  padding: 12px 0;
  display: flex;
  justify-content: center;
}

.footer-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
}

.copyright {
  text-align: center;
}

.copyright p {
  font-size: 15px;
  font-weight: 400;
  color: var(--cor-texto);
}

/* Botão de rolar para o início */
.scroll-inicio {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-principal);
  width: 40px;
  height: 40px;
  color: var(--cor-fundo);
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
}
