/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Nunito Sans', sans-serif;
  scroll-behavior: smooth;
}

/* Variáveis */
:root {
  --cor-fundo-claro: #ffffff;
  --cor-fundo-escuro: #0D1117;
  --cor-principal: #ffdb58;
  --outra-cor: #1D222B;
  --outra-cor-secundaria:#C81227;
  --cor-texto-escuro: #000000;
  --cor-texto-claro: #ffffff;
}

/* Estilo do texto e fundo geral */
body {
  color: var(--cor-fundo-claro);
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s; /* Adiciona transição suave */
}
.mode-icon {
  cursor: pointer; /* Muda o cursor para indicar que é um botão */
  font-size: 24px; /* Ajusta o tamanho do ícone conforme necessário */
  transition: transform 0.3s ease, color 0.3s ease; /* Animações suaves para transformações e mudanças de cor */
}

.mode-icon:hover {
  transform: scale(1.2); /* Aumenta o tamanho do ícone no hover */
  color: var(--cor-fundo-claro); /* Altera a cor no hover */
}

/* Estilo da barra de navegação */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 30px 12%; 
  background: var(--cor-texto-escuro);
  transition: all 0.50s ease;
  justify-content: space-between; /* Distribui o espaço entre os itens */
}

/* Estilo dos titulos das seções */
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cor-texto-escuro);
}

/* Estilo da imagem de perfil */
.perfil-img {
  display: flex;
  align-items: center;
  height: auto;
  max-height: 100%;
  border-radius: 10px;
  margin: auto;
}

/* Estilo do cabeçalho com logo */
header.logo {
  background: var(--cor-fundo-claro);
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .2);
  padding: 16px 16%;
}

i {
  display: flex;
  margin: auto ;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
}

/* Estilo do logo tipo */
.logo {
  font-size: 25px;
  color: var(--cor-fundo-claro);
  font-weight: bold;
  margin-right: 70px;
  white-space: nowrap;
}

/* Cor do logo web */
span {
  color: var(--outra-cor-secundaria);
}


/* Barra de pesquisa do meio */
.menu {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
}

.menu li {
  margin-left: 20px; /* Espaçamento entre os links */
}


/* Barra de pesquisa do meio com links */
.menu a {
  font-size: 15px;
  color: var(--cor-texto-claro);
  font-weight: 500;
  text-decoration: none;
  transition: color 0.50s ease;
}


/* Animação da barra de pesquisa do meio com links */
.menu a:hover {
  color: var(--outra-cor-secundaria);
}

/* Sessão do meio */
section {
  padding: 180px 12% 90px;
  background-color: var(--cor-fundo-claro);
}


/* Apresentação do título do meio */
.sobre {
  height: 100vh;
  width: 100%;
  background-position: top right;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
}

/* Apresentação título e parágrafo */
.descricao h4 {
  font-size: 24px;
  color: var(--cor-texto-escuro);
}

.descricao h1 {
  font-size: 72px;
  color: var(--cor-texto-escuro);
  font-weight: 900;
  margin: 20px 0px 20px;
  line-height: 1.2;
}

.descricao p {
  font-size: 1rem;
  font-weight: 500;
  width: 620px;
  max-width: 100%;
  color: var(--cor-texto-escuro);
  line-height: 30px;
  margin-bottom: 15px;
}

/* Estilização dos 2 botões */
.meubotao,
.meubotao2 {
  display: inline-block;
  padding: 10px 20px;
  background: var(--outra-cor-secundaria);
  color: var(--cor-texto-claro);
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.50s ease;
}

.meubotao2 {
  margin-left: 5px;
}

/* Animação dos 2 botões */
.meubotao:hover,
.meubotao2:hover {
  background: var(--cor-texto-escuro);
  color: var(--cor-fundo-claro);
  box-shadow: 0 0 6px var(--cor-texto-escuro);
}

/* Estilização das redes sociais */
.social {
  margin-bottom: 30px;
}

.social i {
  background: var(--cor-fundo-claro);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--cor-texto-escuro);
  border-radius: 100%;
  font-size: 25px;
  margin-right: 20px;
  box-shadow: 0 0 20px transparent;
  cursor: pointer;
  transition: all 0.50s ease;
}

/* Animação das redes sociais */
.social i:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px var(--cor-texto-escuro);
}

/* Seção de Habilidades/skill */
.habilidades h2 {
  font-size: 40px;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.4rem;
  padding: 3rem;
}

.skill-card {
  background: var(--cor-texto-escuro);
  padding: 10px;
  text-align: center;
  width: 204px;
  box-sizing: border-box;
}

.skill-card i {
  font-size: 30px;
  color: var(--outra-cor-secundaria);
  margin-bottom: 10px;
}

.skill-card h3 {
  color: var(--cor-fundo-claro);
  font-size: 15px;
}

.skill-card:hover {
  outline: 2px solid var(--outra-cor-secundaria);
  transform: scale(1.05);
}

/* Seção de Projetos */
.section-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  margin-top: calc(10vh - 120px); 
}

.projeto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  justify-content: center; /* Centraliza os itens horizontalmente */
}
.projeto-item {
  background-color: var(--cor-texto-escuro);
  border-radius: 10px;
  padding: 10px;
  max-width: 100%;
  margin: auto;
}

.projeto-item:hover {
  outline: 1px solid var(--cor-texto-escuro)
}

.projeto-image {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}

.projeto-title {
  font-size: 20px;
  margin-bottom: 12px;
  color: var(--outra-cor-secundaria);
  text-align: center;
}

.projeto-description {
  font-size: 12px;
  color: var(--cor-texto-claro);
  text-align: center;
}

.project-links {
  display: flex;
  justify-content: center;
}

.github-link,
.live-link {
  margin: 0 10px;
  font-size: 18px;
  color: var(--cor-fundo-claro);
  transition: color 0.3s;
}

.github-link i,
.live-link i {
  font-size: 24px;
  margin-right: 5px;
}

.github-link:hover,
.live-link:hover {
  color: var(--outra-cor-secundaria);
}

/* Animação da aba certificados */
.certificados {
  cursor: pointer;
}

.certificados .container {
  margin: 0 auto;
}

.certificados .section-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 35px;
}

.certificados-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}

.certificado {
  background-color: var(--cor-texto-escuro);
  border-radius: 15px;
  width: 380px;
  margin: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certificado:hover {
  box-shadow: 0 8px 16px;
}

.certificado-image {
  width: 100%;
  border-radius: 10px;
}

.certificado-title {
  font-size: 20px;
  color: var(--outra-cor-secundaria);
  margin-bottom: 10px;
  text-align: center;
}

.certificado-description {
  font-size: 16px;
  text-align: center;
}

.certificados-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}

.certificados-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  transition: transform 0.2s ease-in-out;
  align-items: center;
  padding-bottom: 5px; /* Espaço extra para evitar a barra de rolagem */
  margin-bottom: -15px; /* Compensa o padding negativo */
}

.certificado {
  flex: 0 0 auto;
  scroll-snap-align: start;
  margin-right: 25px;
  margin-bottom: 15px; /* Espaçamento entre os certificados */
}

.certificado:last-child {
  margin-right: 0;
}

.certificados-wrapper::-webkit-scrollbar {
  display: none; /* Oculta a barra de rolagem do navegador */
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 20;
  transition: background-color 0.3s ease;
}

.scroll-btn:hover .circle {
  background-color: var(--outra-cor-secundaria);
  color: var(--cor-texto-escuro);
}

.circle {
  color:var(--cor-texto-escuro);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--cor-fundo-claro);
  transition: background-color 0.3s ease;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

/* Animação da aba de Emails */
.email-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tamanho do texto do título E-mail */
.conteiner-texto h2 {
  font-size: 40px;
  margin-bottom: 35px;
}

.email-form form {
  position: relative;
  width: 100%; /* Ajustei para ocupar a largura máxima disponível */
  max-width: 600px; /* Limita a largura do formulário a 600px */
}

form input,
form textarea {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  box-shadow: 0 0 2px var(--cor-fundo-claro);
  background: var(--cor-texto-escuro);
  color: var(--cor-fundo-claro);
  margin-bottom: 20px;
  border-radius: 8px;
  font-size: 15px;
}

form input::placeholder,
form textarea::placeholder {
  color: var(--cor-fundo-claro);
  font-size: 15px;
}

form .enviarbotao {
  display: inline-block;
  padding: 11px 26px;
  background: var(--outra-cor-secundaria);
  color: var(--cor-texto-claro);
  border: 1px solid var(--cor-fundo-claro);
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  transition: all .5s ease;
}

form .enviarbotao:hover {
  color: var(--cor-fundo-claro);
  background-color: var(--cor-texto-escuro);
  box-shadow: 0 0 20px var(--cor-texto-escuro);
  cursor: pointer;
}


/* Estilização do Rodapé */
.footer {
  background-color: var(--cor-texto-claro);
  padding: 12px 0;
  display: flex;
  justify-content: center;
}

.footer-container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
}

.copyright p {
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  color: var(--cor-texto-escuro);
}

/* Botão de rolar para o início */
.scroll-inicio {
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--outra-cor-secundaria);
  width: 45px;
  height: 45px;
  color: var(--cor-texto-claro);
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.scroll-inicio:hover {
  background-color: var(--outra-cor-secundaria);
  color: var(--cor-fundo-claro);
  transform: scale(1.1);
}

/* Estilos para a barra de rolagem */
::-webkit-scrollbar {
  width: 15px;
}

/* Cor da área da barra de rolagem */
::-webkit-scrollbar-track {
  background: var(--cor-texto-escuro);
}

/* Cor e estilo do indicador da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: var(--outra-cor-secundaria);
  border-radius: 3px;
}

/* Estilos gerais no Modo Escuro */
body.dark-mode {
  background-color: var(--cor-fundo-escuro);
  color: var(--cor-principal);
}

.dark-mode header {
  background: var(--cor-fundo-escuro);
}

.dark-mode .logo {
  color: var(--cor-fundo-claro);
}

.dark-mode span {
  color: var(--cor-principal);
}

.dark-mode .menu a {
  color: var(--cor-fundo-claro);
}

.dark-mode .menu a:hover {
  color: var(--cor-principal);
}

.dark-mode section {
  background-color: var(--cor-fundo-escuro);
}

.dark-mode .lightDark {
  background: var(--cor-principal);
  color: var(--cor-fundo-escuro);
  border: 3px solid var(--cor-principal);
}

.dark-mode .lightDark:hover {
  background: var(--cor-principal);
  color: var(--cor-fundo-escuro);
}

.dark-mode .descricao h4,
.dark-mode .descricao h1,
.dark-mode .descricao p {
  color: var(--cor-fundo-claro);
}

.dark-mode .meubotao,
.dark-mode .meubotao2 {
  background: var(--cor-principal);
  color: var(--cor-fundo-escuro);
}

.dark-mode .meubotao:hover,
.dark-mode .meubotao2:hover {
  background: var(--cor-fundo-escuro);
  color: var(--cor-principal);
  box-shadow: 0 0 6px var(--cor-principal);
}

.dark-mode .social i {
  background: var(--cor-fundo-escuro);
  color: var(--cor-principal);
}

.dark-mode .social i:hover {
  box-shadow: 0 0 10px var(--cor-principal);
}

.dark-mode .skill-card {
  background: var(--outra-cor);
}

.dark-mode .skill-card i {
  color: var(--cor-principal);
}

.dark-mode .skill-card:hover {
  outline: 2px solid var(--cor-principal);
}

.dark-mode .projeto-item {
  background-color: var(--outra-cor);
}

.dark-mode .projeto-item:hover {
  outline: 1px solid var(--cor-principal);
}

.dark-mode .projeto-title {
  color: var(--cor-principal);
}

.dark-mode .certificado {
  background-color: var(--outra-cor);
}

.dark-mode .certificado:hover {
  box-shadow: 0 8px 16px var(--cor-fundo-escuro);
}

.dark-mode .certificado-title {
  color: var(--cor-principal);
}

.dark-mode .certificado-description {
  color: var(--cor-fundo-claro);
}

.dark-mode .scroll-btn:hover .circle {
  background-color: var(--cor-principal);
}

.dark-mode .scroll-btn {
  background: transparent;
}

.dark-mode .circle {
  background-color: var(--cor-fundo-claro);
  color: var(--cor-texto-escuro);
}

.dark-mode h2 {
  color: var(--cor-principal);
}


.dark-mode .github-link,
.dark-mode .live-link {
  color: var(--cor-principal);
}

.dark-mode .github-link:hover,
.dark-mode .live-link:hover {
  color: var(--cor-texto-escuro);
}

.dark-mode .scroll-btn:hover .circle {
  background-color: var(--cor-principal);
  color: var(--cor-texto-escuro);
}

.dark-mode .scroll-inicio:hover {
  background-color: var(--cor-principal);
  color: var(--cor-fundo-escuro);
  transform: scale(1.1);
}

.dark-mode .scroll-inicio {
  background-color: var(--outra-cor-secundaria);
  color: var(--cor-texto-claro);
}

.dark-mode .mode-icon:hover {
  color: var(--cor-principal); 
}

.dark-mode form .enviarbotao:hover {
  background: transparent;
  color: var(--cor-principal);
}

.dark-mode form input, 
.dark-mode form textarea {
  box-shadow: 0 0 2px var(--cor-principal);
  background: var(--cor-fundo-escuro);
  color: var(--cor-principal);
}

.dark-mode form .enviarbotao {
  background: var(--cor-principal);
  color: var(--cor-texto-escuro);
  border: 2px solid var(--cor-principal);
}

.dark-mode form input::placeholder,
.dark-mode textarea::placeholder {
  color: var(--cor-principal);
}

.dark-mode form .enviarbotao:hover {
  color: var(--cor-principal);
  box-shadow: 0 0 20px var(--cor-principal);
}


.dark-mode .copyright p {
  color: var(--cor-principal);
}


.dark-mode .scroll-inicio {
  background-color: var(--cor-principal);
  color: var(--cor-fundo-escuro);
  transform: scale(1.2); /* Aumenta o tamanho do ícone no hover */
}

.dark-mode .scroll-inicio:hover {
  background-color: var(--cor-principal);
  color: var(--cor-fundo-escuro);
  transform: scale(1.1);
}

.dark-mode .footer {
  background-color: var(--cor-fundo-escuro);
}

/* Estilos para a barra de rolagem */
.dark-mode::-webkit-scrollbar {
  width: 15px;
}

/* Cor da área da barra de rolagem */
.dark-mode::-webkit-scrollbar-track {
  background: var(--outra-cor);
}

/* Cor e estilo do indicador da barra de rolagem */
.dark-mode::-webkit-scrollbar-thumb {
  background-color: var(--cor-principal);
}
